body{
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.tearout-container {
	border: 1px solid black;
	padding: 5px;
	width: 210px;
	height: 210px;
	margin:5px;
}

.tearout {
	width: 210px;
	height: 210px;
}

.steelblue {
	background-color:  steelblue;
}
.indianred {
	background-color:  indianred;
}
.gold {
	background-color:  gold;
}
.browser-link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

