body{
	padding: 20px;
}
.tearout-container {
	border: 1px solid black;
	padding: 5px;
	width: 210px;
	height: 210px;
	margin:5px;
}

.tearout {
	width: 210px;
	height: 210px;
}

.steelblue {
	background-color:  steelblue;
}
.indianred {
	background-color:  indianred;
}
.gold {
	background-color:  gold;
}

