<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="../css/tearout.css">
		<style>
			body:not(input) {
				overflow: hidden;
				margin: 0;
				-webkit-app-region: drag;
				/*background-color: steelblue;*/
				
			}
			div {
				/*-webkit-app-region: drag;*/
				pointer-events: all;
				background-color: indianred;
			}
		</style>
	</head>
	<body>

		<!-- <div class="tearout indianred" draggable="true"></div> -->

		<script src="../js/desktop-adapter.js"></script>
		<script src="../js/geometry.js"></script>
		<script>
			var dropTarget,
					dropTargetLocationInPage;

			var setDropTarget = function(element){
				dropTarget = element;
				dropTargetLocationInPage = dropTarget.getBoundingClientRect();
			};
			var getWindowPosition = function(windowElement) {
				return {
						height : windowElement.outerHeight,
			    	width: windowElement.outerWidth,
			    	top: windowElement.screenY,
			    	left: windowElement.screenX
				};
			};
			var elementScreenPosition = function(windowElement, element){
				var relativeElementPosition = element.getBoundingClientRect();
				return {
						height : relativeElementPosition.height,
			    	width: relativeElementPosition.width,
			    	top: windowElement.top + relativeElementPosition.top,
			    	left: windowElement.left + relativeElementPosition.left
				};
			};

			fin.desktop.main(function() {
			    'use strict';

			    var //parentPosition = getWindowPosition(opener),
			    		currentWindow = fin.desktop.Window.getCurrent();//,
			    		//parentWindow = fin.desktop.Window.getCurrent().getParentWindow();

			    currentWindow.addEventListener("bounds-changing", function (event) {
						    
						    var overDropTarget = geometry.rectangle(getWindowPosition(window))
						    	.intersects(
						    			geometry.rectangle(
						    				elementScreenPosition(
						    						getWindowPosition(opener), dropTarget)));
						  
						  //console.log(over);
						}, 
						function () {},
						function (reason) {
						    console.log("failure:" + reason);
						});

					// parentWindow.addEventListener("bounds-changing", function (event) {
					// 	    console.log("The window has been moved or resized");
					// 	    parentWindow = fin.desktop.Window.getCurrent().getParentWindow();

					// 	}, 
					// 	function () {},
					// 	function (reason) {
					// 	    console.log("failure:" + reason);
					// 	});

					/**
						changeType: 0
						deferred: false
						height: 210
						left: 938
						name: "duplicate-demo"
						reason: "self"
						top: 437
						topic: "window"
						type: "bounds-changing"
						uuid: "tearout-main-offline"
						width: 210
					**/

			    // var moveOnDrag, offsetX, offsetY;

			    // window.addEventListener('mousemove', function(e) {
			    // 	if (moveOnDrag){
			    // 		fin
			    // 			.desktop
			    // 			.Window
			    // 			.getCurrent()
							// 	//.moveTo(e.screenX - offsetX, e.screenY - offsetY);
			    // 	}
			    //     //console.warn('this is a mouse move event', e);
			    // });
			    // document.querySelector('div')
			    // //window
			    // 	.addEventListener('mousedown',function(e){
			    // 		// offsetX = e.offsetX;
			    // 		// offsetY = e.offsetY;
			    // 		console.log('its down',e)
			    // 		document.querySelector('div').style.cssText = '-webkit-app-region: drag';
			    // 	})
			    // //document.querySelector('div')
			    // window
			    // 	.addEventListener('mouseup',function(){
			    // 		console.log('its down')
			    // 	})
			    // // //document.querySelector('div')
			    // window
			    // window
			    // 	.addEventListener('mousemove',function(){
			    // 		console.log('its moving')
			    // 	})
			    // //document.querySelector('div')
			    // //window
			    // document.querySelector('div')
			    // 	.addEventListener('dragstart',function(e){
			    // 		document.querySelector('div').style.cursor = 'crosshair';
			    // 		e.dataTransfer.effectAllowed = 'move';
			    // 		dataTransfer.effectAllowed
			    // 		//moveOnDrag = false;
			    // 		console.log('its a drag', e)


			    // 		var dragIcon = document.createElement('img');
							// dragIcon.src = 'https://www.google.com/images/srpr/logo11w.png';
							// dragIcon.width = 100;
							// e.dataTransfer.setDragImage(dragIcon, -10, -10);

			    // 	})
			    // document.querySelector('body')
			    // 	.addEventListener('dragstart',function(e){
			    // 		//moveOnDrag = false;
			    // 		console.log('its a drag', e)
			    // 	})

			  //   var wnd = fin.desktop.Window.getCurrent();
					// wnd.addEventListener("shown", function (event) {
					//     console.log("The window has been moved or resized");

					//     var event = new MouseEvent('mousedown', {
					// 	    // 'view': window,
					// 	    // 'bubbles': true,
					// 	    // 'cancelable': true


					// 			altKey: false,
					// 			bubbles: true,
					// 			button: 0,
					// 			cancelBubble: false,
					// 			cancelable: true,
					// 			charCode: 0,
					// 			clientX: 64,
					// 			clientY: 178,
					// 			clipboardData: undefined,
					// 			ctrlKey: false,
					// 			currentTarget: null,
					// 			dataTransfer: null,
					// 			defaultPrevented: false,
					// 			detail: 1,
					// 			eventPhase: 0,
					// 			fromElement: null,
					// 			keyCode: 0,
					// 			layerX: 64,
					// 			layerY: 178,
					// 			metaKey: false,
					// 			offsetX: 45,
					// 			offsetY: 92,
					// 			pageX: 64,
					// 			pageY: 178,
					// 			relatedTarget: null,
					// 			returnValue: true,
					// 			screenX: 1184,
					// 			screenY: 255,
					// 			shiftKey: false,
					// 			srcElement: document.querySelector('div'),
					// 			target: document.querySelector('div'),
					// 			timeStamp: 1410353773330,
					// 			toElement: document.querySelector('div'),
					// 			type: "mousedown",
					// 			view: Window,
					// 			webkitMovementX: 0,
					// 			webkitMovementY: 0,
					// 			which: 1,
					// 			x: 64,
					// 			y: 178
					// 	  });
					// 		document.querySelector('div').dispatchEvent(event)
					// 	  // var cb = //document.querySelector('div'); 
					// 	  // window
					// 	  // var canceled = !cb.dispatchEvent(event);
					// 	  // if (canceled) {
					// 	  //   // A handler called preventDefault.
					// 	  //   //alert("canceled");
					// 	  // } else {
					// 	  //   // None of the handlers called preventDefault.
					// 	  //   //alert("not canceled");
					// 	  // }

					// }, function () {
					//     console.log("The registration was successful");
					// },function (reason) {
					//     console.log("failure:" + reason);
					// });

			    // window.addEventListener('mousemove', function(e) {
			    //     console.warn('this is a mouse move event', e);
			    // });
			    // window.addEventListener('mouseup', function(e) {
			    //     console.warn('this is a mouse up event', e);
			    // });
			});
		</script>
		<!-- <script src="js/tearout.js"></script> -->
	</body>
</html>