<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="../css/tearout.css">
		<style>
			body {
				padding: 0;
				overflow: hidden;
				margin: 0;
				-webkit-app-region: drag;
				pointer-events: all;
			}
			input {
				-webkit-app-region: no-drag;
				pointer-events: all;
			}
		</style>
	</head>
	<body>
		<script src="https://developer.openfin.co/release/adapter/js/openfin-desktop-js-adapter.js"></script>
		<script src="../js/geometry.js"></script>
		<script src="../js/drop-target.js"></script>
	</body>
</html>